/*
@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins|Rubik:300');
*/

@import url('https://fonts.googleapis.com/css?family=Rubik:300');
body {
  font-family: "Rubik",Helvetica,Arial,sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Rubik',sans-serif;
}

.skin-blue .main-header .navbar {
    background: #0095d8 !important;
    background: -moz-linear-gradient(left,  #0095d8 0%, #00b0a3 100%) !important;
    background: -webkit-linear-gradient(left,  #0095d8 0%,#00b0a3 100%) !important;
    background: linear-gradient(to right,  #0095d8 0%,#00b0a3 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0095d8', endColorstr='#00b0a3',GradientType=1 ) !important;

}
.skin-blue .main-header .logo {
    background: #0095D8;
}
.skin-blue .main-header li.user-header {
    background: #00B0A3;
}

[custom-title]{
  position:relative;
  /*cursor:help;*/
}

[custom-title]:after{
  content:attr(custom-title);
  color:#fff;
  background:#333;
  background:rgba(51,51,51,0.75);
  padding:5px;
  position:absolute;
  left:-9999px;
  opacity:0;
  bottom:100%;
  white-space:nowrap;
  -webkit-transition:0.25s linear opacity;
}
[custom-title]:hover:after{
  left:5px;
  opacity:1;
}

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: help;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-danger {
  background-color: #dd4b39;
}
.badge-danger:hover {
  background-color: #b53e2f;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #00b0a4;
}
.badge-success:hover {
  background-color: #027b73;
}
.badge-info {
  background-color: #0095d8;
}
.badge-info:hover {
  background-color: #0274a7;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}


.btn-success {
  background-color: #00b0a4;
  border-color: #ddd;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
  background-color: #027b73 !important;
  border-color: #ddd !important;
}

.btn-primary {
  background-color: #0095d8;
  border-color: #ddd;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #017cb3 !important;
  border-color: #ddd !important;
}



.btn-danger {
  color: #ed5565;
  background-color: transparent;
  border-color: #ed5565;
}
.btn-danger:hover {
  color: #fff;
  background-color: #ec4758;
  border-color: #ec4758;
}

.btn-default {
  //color: #ed5565;
  background-color: transparent;
  border-color: #e7eaec;
}
.btn-default:hover {
  color: inherit;
  background-color: #e6e6e6;
  border-color: #999;
}

.addon-custom {
    padding: 4px 6px;
    
}

.select-addon-custom{
  padding: 0px 0px;
  border: 0px solid red !important;
  text-align: left;
}

.texto-right{
  text-align: right;
}


.texto-primary{
  color: #0095d8;
}
.texto-success{
  color: #00b0a3;
}

.btn-success-inverted{
  color: #00b0a3;
  border-color: #00b0a3;
}
.btn-success-inverted:hover, .btn-success-inverted:focus, .btn-success-inverted:active{
  border-color: #00b0a3;
  background-color: #00b0a3 !important;
  color: white !important;
}

.btn-primary-inverted{
  border-color: #0095d8;
}
.btn-primary-inverted:hover, .btn-primary-inverted:focus, .btn-primary-inverted:active{
  border-color: #0095d8;
  background-color: #0095d8 !important;
  color: white !important;
}

.placa {
  padding: 0px 15px 2px 15px;
  background-color: #f39c12;
  border: 2px solid #cc820e;
  border-radius: 4px;
  font-weight: 800;
  color: white;
}

.vehicle-profile {
    margin: 0 auto;
    width: 100px;
    padding: 3px;
    border: 3px solid #f39c12;
}
.table-custom-posed{
  //position: static;
}

.timeline-item{
      background: #f6f6f6 !important;
      border: 0px solid #ddd !important;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.porcentaje_chart{
  font-size: 18px;
  font-weight: 600;
  color: #00b0a3;
  text-align: right;
}

canvas {
  //background-color: blue; 
  width: 100%;
  height: auto;
}
div > svg  > text{
    font-family : 'Rubik' !important;
    padding : "3%";
}

.fa_enlinea{
  width: 40px !important;
  height: 40px !important;
  float: left !important;
}


.cursor-pointer{
  cursor:pointer;
}
.cursor-help{
  cursor: help;
}

.hovered-text:hover > span{
  -webkit-transition: color .5s;
  color: #0095d8    
}
.hovered-text > span{
  -webkit-transition: color .5s;     
}

.pagination>li:first-child>a, .pagination>li:first-child>span {  
    border-radius: 0px !important;   
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.daterangepicker > div > ul > li {
  border-radius: 0px;
}
.daterangepicker_input > input {
  border-radius: 0px !important;
}

.start-date, .end-date {
  border-radius: 0px !important;
}

.xs-custom-box-title{
  background-color:#f7f7f7; 
  font-size: 18px; 
  text-align: center; 
  padding: 7px 10px; 
  margin-top: 0;
}
